*{
  outline: none;
}
:root{
  --error-color: #FC4A1A;
  --success-color: #A9A9A9;
  --warning-color: rgb(238, 227, 105);
  --bg-color: #CAEBF2;
  --main-color: #07889B;
  --header-color: #EFEFEF;
  --text-color: #111111;
}
body {
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    display:flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin: 0;
}
main {
  width: 70%;
}
header {
  background-color: var(--header-color);
  height: 3rem;
  width: 100%;
}
label {
  font-size: 1.2rem;
  margin-left: 1rem;
}
.email {
  border-bottom: 1px solid var(--main-color);
  display: block;
  margin-top: 1rem;
  padding: 1rem 0;  
}
.email > * {
  display: block;
}
input {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  margin-top: 1rem;
  width: 100%;
}
#submit {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 24px;
  cursor: pointer;
  font-size: 1rem;
  min-width: 9rem;
  margin-top: 1rem;
  padding: 1rem;  
}
.clear {
  clear: both;
}
.email.invalid {
  border: 2px solid var(--error-color);
  box-shadow: inset 1px -1px var(--error-color);
  -webkit-box-shadow: inset 1px -1px var(--error-color);
  -moz-box-shadow: inset 1px -1px var(--error-color);
}
.email.invalid span{
  display: block;
}
.email span {
  display: none;
  color: var(--error-color);
}
#circle-email {
  margin-top: 1rem;
}
.circle-email-list {
  width: -moz-fit-content;
}
.circle-email-list > * {
  display: block;
}
.circle-email-list input {
  float: left;
  width: 50%;
}
.circle-email-list > div {
  float: left;
}
#circle-email > div > div {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
.validBox {
  border: 1px solid var(--success-color);
}
.invalidBox {
  border: 1px solid var(--error-color);
  box-shadow: inset 1px -1px var(--error-color);
  -webkit-box-shadow: inset 1px -1px var(--error-color);
  -moz-box-shadow: inset 1px -1px var(--error-color);
}
.close {
  background-color: var(--text-color);
  border: none;
  color: #ffffff;
  cursor: pointer;
  float: right;
  line-height: 20px;
  margin-right: -28px;
  margin-top: -11px;
  text-align: center;
  position: relative;
  width: 20px;
  }
.close span {
  visibility: hidden;
}
.close::before {
  content: 'x';
}
#proposal input:hover {
  
} 
#proposal input {
  border: 1px solid var(--main-color);
  color: transparent;
} 
